@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+DE+SAS:wght@100..400&display=swap');

:root {
    --marrom: #975f52;
    --laranja: #f9a476;
    --vermelho: #9e1405;
    --branco: #ffffff;
}




body {
    font-family: "Playwrite DE SAS", cursive;
    margin: 0;
    background: var(--marrom);
}

/* HEADER */
header img {
    max-width: 30rem;
    display: block;
    margin: 0 auto;
    /* centraliza corretamente */
}

h1 {
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: 3rem;
    color: white;
    text-align: center;
    text-shadow: 0 0 5px var(--vermelho);
}

header p {
    margin-bottom: 5rem;
    margin-top: 0;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 5px var(--vermelho);
}

/* MENU */
nav ul {
    margin-top: 5rem;
    /* espaçamento acima*/
    list-style: none;
    /* remove o estilo padrão da lista */
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    /* cor do  texto */
    text-decoration: none;
    /* remove osublinhado padrão do link */
    font-size: 2rem;
    /* tamanho da fonte do link */
    text-shadow: 0 0 5px var(--vermelho);
    /* sombra */
}

nav a:hover {
    text-decoration: underline;
    /* texto sublinhado */
    font-weight: bold;
    /* texto em negrito */
}

/* SEÇÕES PADRÃO */
#sobre,
#projetos-front,
#projetos-node,
#cursos,
#contato {
    width: 90%;
    margin: 1rem auto;
    display: block;
    border-radius: 0.5rem;
}

/* SOBRE */
#sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-color: var(--laranja);
    font-size: 1.5rem;
    padding: 4rem 2rem;
}

.foto img {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 20px var(--marrom);
}

#sobre h2,
.projeto h2 {
    font-family: "Playwrite DE SAS", cursive;
    margin-top: 0;
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 5px var(--vermelho);
}

#sobre p {
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    color: var(--vermelho);
}

.btn-voltar {
    display: block;
    width: fit-content;
    margin: 2rem auto;
    background-color: var(--laranja);
    color: var(--vermelho);
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 1rem;
    font-weight: bold;
    transition: 0.3s;
}

.btn-voltar:hover {
    text-decoration: underline;
    background-color: var(--vermelho);
    color: white;
}

/* PROJETOS */
#projetos-front,
#projetos-node {
    color: var(--vermelho);
    background-color: var(--laranja);
    font-size: 1.3rem;
    font-family: "Open Sans", sans-serif;
}

h3 {
    text-shadow: 0 0 5px var(--marrom);
    text-decoration: underline;
}

.projeto p {
    font-size: 1.5rem;
}

/* SLIDER */
.slider {
    width: 100%;
    max-width: 30rem;
    overflow: hidden;
    margin: auto;
    box-shadow: 2px 2px 10px var(--marrom);
}

.slides {
    display: flex;
    width: 100%;
    animation: slide 15s infinite;
}

.slides img {
    width: 100%;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }
}

.slider:hover .slides {
    animation-play-state: paused;
}

/* SECTION */
section {
    padding: 2rem;
}

#projetos-node img {
    width: 100%;
    max-width: 30rem;
}

/* BOTÕES */
.projeto a {
    display: inline-block;
    background: var(--vermelho);
    color: var(--laranja);
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.projeto a:hover {
    text-decoration: underline;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.anterior,
.proximo,
.fechar {
    position: absolute;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    user-select: none;
}

.fechar {
    top: 20px;
    right: 30px;
}

.anterior {
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.proximo {
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.image {
    box-shadow: 2px 2px 10px var(--marrom);
    cursor: pointer;
    transition: 0.3s;
}

.image:hover {
    transform: scale(1.03);
}

/* CURSOS */
#cursos {
    background-color: var(--laranja);
    font-size: 1.3rem;
    font-family: "Open Sans", sans-serif;
}

.curso h2 {
    font-family: "Playwrite DE SAS", cursive;
    margin-top: 0;
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 5px var(--vermelho);
}

.curso h3 {
    color: var(--vermelho);
    text-shadow: 0 0 5px var(--marrom);
    text-decoration: underline;
}

.curso p {
    font-size: 1.5rem;
    color: var(--vermelho);
    padding: 0.6rem;
}

/* CONTATO */
#contato {
    background-color: var(--laranja);
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
}

.contato h2 {
    font-family: "Playwrite DE SAS", cursive;
    margin-top: 0;
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 5px var(--vermelho);
}

.contato p {
    color: var(--vermelho);
}

.contato a {
    display: inline-block;
    background: var(--vermelho);
    color: var(--laranja);
    padding: 0.3rem 0.8rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 0.3rem;
    transition: 0.3s;
}

.contato a:hover {
    text-decoration: underline;
    color: white;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp img {
    width: 8rem;
    transition: 0.3s;
}

.whatsapp img:hover {
    transform: scale(1.1);
}

@media (max-width: 769px) {

    /* MENU */
    nav ul {
        flex-direction: column;
        /* menu em coluna */
        align-items: center;
        /* alinhar itensa ao centro */
    }

    #sobre {
        flex-direction: column-reverse;
    }

}